* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    justify-content: center;
    gap: 10px;
}

ul li {
    color: red;
    font-size: 30px;
    font-weight: bold;
    gap: 20px;
    list-style-type: none;
}