@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Fira+Sans&family=Noto+Sans+Georgian&family=Noto+Serif+Display:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
}

aside {
    width: 50px;
    min-height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    background: rgb(119, 119, 119);
    font-family: 'Fira Sans', sans-serif;
    overflow-y: scroll;
    color: aliceblue;
    transition: .5s;
}

aside::-webkit-scrollbar {
    display: none;
}

aside:hover {
    transition: 1s;
    width: 200px;
}

aside span {
    padding: 5% 0;
    text-align: center;
}

aside ul {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}

aside ul li {
    text-align: center;
    padding: 20% 0;
    height: 100%;
    width: 100%;
    transition: .5s;
}

aside ul li:hover {
    transition: 1s;
    background-color: rgb(58, 57, 57);
    
}

a {
    color: aliceblue;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;
    word-spacing: 2px;
    display: none;
}

aside:hover a {
    display: block;
}

main {
    flex: 0 0 100%;
    background-image: url(main_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.icon {
    display: flex;
    justify-content: center;
}