* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li {
    color: red;
    font-size: 30px;
    font-weight: bold;
    gap: 20px;
}